{{ define "main" }}

<!-- checking komparasi -->
{{ if or (or (eq .Section "komparasi") )}}

<section class="section">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-12 mb-5 pb-3">
        <div class="row align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <a href="{{ .Permalink }}" class="post-title"><img src="{{ .Params.image |absURL }}" alt="{{ .Title }}" class="card-img rounded-lg mb-4"></a> 
            </div>
            <div class="col-md-6">
              <h3><a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a></h3>
              <p class="card-text">{{ .Summary }}</p>
              <a href="{{.Permalink}}" class="btn btn-primary btn-sm">Lihat cuplikan ...</a>
            </div>
        </div>
      </div>
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
