/* Button style */
.btn {
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 700;
  text-transform: capitalize;
  padding: 15px 30px;
  border-radius: 30px;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  white-space: nowrap;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: inherit;
    transition: inherit;
    background-color: inherit;
    border: 1px solid transparent;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    @extend .shadow;

    &::before {
      height: 110%;
      width: 110%;
    }
  }

  &-sm {
    padding: 12px 30px;
    font-size: 15px;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $white;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
}

.btn-outline-primary {
  background-color: transparent;
  color: $text-color-dark;
  border-color: transparent;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: transparent !important;
    border-color: $primary-color !important;
    color: $primary-color;
  }
  &::before{
    border-color: $primary-color;
  }
}

.btn-link {
  color: $primary-color;

  i {
    font-size: 12px;
    margin-left: 5px;
    transition: .2s ease;
  }

  &:active,
  &:hover,
  &.focus,
  &.active {
    color: $primary-color;
    text-decoration: none;

    i {
      margin-left: 10px;
    }
  }
}
