// Color Variables
$primary-color: #494c90;
$text-color: #1d2d35;
$text-color-dark: #1d2d35;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #f1f3f7;

// Font Variables
$primary-font: 'Open Sans', sans-serif;
$icon-font: 'themify';
