{{ define "main" }}

<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form name="feedback" netlify-honeypot="bot-field" action="/sk-feedback" method="POST" data-netlify="true">
          <input type="text" class="form-control mb-3" id="nama" name="nama" placeholder="Nama Lengkap" required="true">
          <input type="email" class="form-control mb-3" id="surel" name="surel" placeholder="Email Anda" required="true">
          <div>
          <p> Bagaimana kesan pertama Anda dengan LangitKetujuh OS? </p>
          <textarea name="kesan-pertama" id="kesan-pertama" class="form-control mb-3" placeholder=""></textarea>
          </div>
          <p> Adakah fitur atau aplikasi yang perlu ditambahkan lagi untuk versi selanjutnya? </p>
          <textarea name="fitur-baru" id="fitur-baru" class="form-control mb-3" placeholder=""></textarea>
          <p> Bagaimana performa LangitKetujuh OS. Ringan, biasa saja atau berat dalam kondisi tertentu? </p>
          <textarea name="performa-sistem" id="performa-sistem" class="form-control mb-3" placeholder=""></textarea>
          <p> Apakah Anda menemukan kesalahan sistem atau bug di Sistem operasi ini, jika ada boleh diceritakan ya? </p>
          <textarea name="kesalahan-bug" id="kesalahan-bug" class="form-control mb-3" placeholder=""></textarea>
          <p> Apa yang Anda tidak sukai dari LangitKetujuh OS? </p>
          <textarea name="ketidaksukaan" id="ketidaksukaan" class="form-control mb-3" placeholder=""></textarea>
          <p> Adakah saran untuk Layanan Hallo baik di Telegram dan Email agar lebih baik lagi? </p>
          <textarea name="layanan-cs" id="layanan-cs" class="form-control mb-3" placeholder=""></textarea>
          <p> Terakhir. Apakah perlu dibentuk suatu komunitas sesama pengguna LangitKetujuh OS atau cukup mengandalkan Layanan CS saja ketika ada masalah. Bagaimana menurut Anda? </p>
          <textarea name="komunitas" id="komunitas" class="form-control mb-5" placeholder=""></textarea>
          <div class="form-group mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck"  name="data" value="ya, saya setuju" required="true">
                <label class="form-check-label" for="gridCheck">
                Saya telah menyetujui dan mematuhi <a href="/peraturan-layanan">peraturan layanan</a> & <a href="/kebijakan-privasi">kebijakan privasi</a>.
                </label>
              </div>
          </div>
        <div>
        <button type="submit" value="send" class="btn btn-primary">Kirim</button>
        </div>
        </form>
      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}
