  {{- $favicon := "media/icons/favicon.ico" -}}
  {{- $icon16 := "media/icons/icon-16x16.png" -}}
  {{- $icon32 := "media/icons/icon-32x32.png" -}}
  {{- $icon144 := "media/icons/icon-144x144.png" -}}
  {{- $icon152 := "media/icons/icon-152x152.png" -}}
  {{- $icon192 := "media/icons/icon-192x192.png" -}}

<head>
  <meta charset="utf-8">
  <title>{{ partial "title" . }} | {{ .Site.Title -}}</title>

  {{/* Required meta tags */}}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{/* The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags */}}

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="generator" content="LangitKetujuh 1.0 Generator" />
  <meta name="theme-color" content="#494c90">

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ with site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .link | absURL }}">
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | toCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" media="screen"/>

  {{ "<!--Favicon-->" | safeHTML }}

  <meta name="msapplication-TileImage" content="{{ $icon144 | relURL }}">
  <link rel="icon" href="{{ $favicon | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $icon16 | relURL }}" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $icon32 | relURL }}" type="image/x-icon">
  <link rel="icon" sizes="192x192" href="{{ $icon192 | relURL }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ $icon152 | relURL }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ $favicon | absURL }}" type="image/x-icon">

  {{- partial "opengraph.html" . -}}
  {{ template "_internal/twitter_cards.html" . }}
  
</head>
