<section class="section pb-0">
  <div class="container text-center">
    <h1>{{ .Title | markdownify }}</h1>
    {{ with .Params.subtitle }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
  </div>
</section>
