{{ $_hugo_config := `{ "version": 1 }` }}

<div class="col-md-6 mb-4">
  <div class="p-5 shadow rounded-lg">
    <h3 class="mb-4 check-mark">{{ .Get 0 | markdownify }}</h3>
    <p>{{ .Inner | markdownify }}</p>
  </div>
</div>
