{{ define "main" }}

{{ partial "page-header.html" . }}

{{ "<!-- faq -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      {{ .Content }}
    </div>
  </div>
</section>
{{ "<!-- /faq -->" | safeHTML }}


<!-- call to action -->

<!-- /call to action -->

{{ end }}
